@import 'mixins';
@import 'fonts';

// Layout
$wrapperWidth: 1000px;

// Color
$primary: #0288d1;
$secondary: #01579b;
$text: #212121;
$textDisabled: #9e9e9e;
$primaryText: #ffffff;
$secondaryText: #ffffff;
$danger: #b71c1c;
$success: #43a047;
