@import 'vars';

:host {
  color: $primaryText;
}

.fullWidth {
  background-color: $secondary;
}

.wrapper {
  justify-content: space-between;
}

.logo {
  padding: 1rem;
}

.menu {
  padding: 1rem;

  ul {
    display: flex;

    li {
      margin-left: 1rem;

      a {
        color: $primaryText;
        text-decoration: none;
      }
    }
  }
}
